@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4> Add a New Task</h4>
@using (Html.BeginForm()) 
{
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName)
    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName)
    @Html.LabelFor(model => model.ContactNumber)
    @Html.TextBoxFor(model => model.ContactNumber)
    <input type="submit" value="Add new task" />
}

<p>@Html.ActionLink("Show all Items", "Index")</p>