@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4> Add a New Client</h4>
@using (Html.BeginForm()) 
{
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName)
    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName)
    @Html.LabelFor(model => model.ContactNumber)
    @Html.TextBoxFor(model => model.ContactNumber)

    @if(ViewBag.StylistId != 0) {
      @Html.DropDownList("Stylists", ViewBag.Stylist as SelectList, "Select a Stylist", new { @disabled = "disabled" })
      <input type="hidden" name="StylistId" value="@ViewBag.StylistId" />
    }
    else if(ViewBag.StylistId == 0) {
      @Html.DropDownList("Stylists")
    }
    
    <input type="submit" value="Add Client" />
}

<p>@Html.ActionLink("Show all Clients", "Index")</p>